.end-part{
  width: 394px;
  border-left: 1px solid rgba(204, 204, 204, 0.507);
  min-height: 100%;
}
.end-part__btn{
  padding: 7px 16px 9px;
  border-radius: 99em;
}
.end-part__input{
  border: 1px solid #ccc;
  border-radius: 99em;
  padding: 6px;
}
.end-part__input:focus{
  outline: none;
}