.reply-user-avatar{
  background-color: #A8A8A8;
  padding: 1px 5px;
  font-size: 11px;
  text-transform: uppercase;
  border-radius: 2px;
  color: #fff;
  margin-left: 10px;
  margin-top: -10px;
}

.reply-user-name{
  font-size: 14px;
}
.text-bold{
  font-weight: 500;
  color: #817d7d;
}
.reply-comment-box{
  border-left: 3px solid rgba(204, 204, 204, 0.607);
  padding-left: 20px;
  width: 90%;
  margin: 0 auto;
  margin-bottom: 40px;
  margin-top: 40px;
}