
.inner-info{
  font-size: 16px;
}

.inner-info-main{
  width: 70%;
  margin: 0 auto;
}
.inner-info-user{
  background-color: transparent;
  font-size: 25px;
  color: #888;
}
.inner-info-title{
  font-weight: 700;
}
.innerInfo-section{
  width: 70%;
  margin: 0 auto;
}