.navbar__icons{
  font-size: 20px;
  color: #A8A8A8;
  transition: all 0.3s ease;
}
.navbar__icons:hover{
  color: #222;
}
.navbar__item{
  margin-bottom: 20px;
}
.navbar__list{
  li{
    margin-bottom: 38px;
  }
}
.user-btn{
  background-color: #0097A7;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  color: #fff;
}


.nav-btn{
  background-color: transparent;
  color:  rgba(117, 117, 117, 1);

  &:hover{
    color: #000;
  }
}


.nav-icon-btn{
  background-color: transparent;
  position: relative;
  transition: all 0.4s ease;
}
.nav-icon-btn:hover{
  background-color: #ccc;
  border-radius: 10px;
}

